img {
    width: 200px;
}

body {
    text-align: center;
    font-family: 'georgian', sans-serif;
    color: black;
    background-image: url("cubes.jpg");
    background-size: 100% 200%;
    background-repeat: no-repeat;
}

ul {
    list-style-type: square;
    margin: 0;
    padding: 0;
}

.tables {
    column-count: 4;
    /* width: 300px; */
    padding: 50px;
    float: center;
    margin-left: auto;
    margin-right: auto;
}

.cols {
    width: auto;
    padding: 100px;
    vertical-align: top;
}

col:nth-child(even) {
    background: #ccffff;

}
col:nth-child(odd) {
    background: #e6ffff;
}

i.fab, i.fas {
    font-size: 36pt;
    color: black;
    padding: 1%;
}