body {
    text-align: center;
    font-family: monospace, sans-serif;
    color: rgb(220, 220, 220);
    background-image: url("assets/test2.png");
    background-repeat: no-repeat;
    /* background-size: 100%; */
    background-size: cover;
    background-position: center;
    /* margin-bottom: 60px; */
}

h1 {
    text-align: center;
    background-color: rgba(0,0,0,0.8);
}
h4 {
    background-color: rgba(0,0,0,0.8);
}

header {
    /* padding-bottom: auto; */
    background-color: rgba(0,0,0,0.8);
}

/* .footer {
    position: fixed;
    display: block;
} */
footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 60px;
    background-color: rgba(0,0,0,0.8);
    margin-bottom: 15px;
  }

.topnav {
    padding-bottom: 300px;
    background-color: transparent;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: darkgray;
    text-align: center;
    padding: 12px 12px;
    text-decoration: none;
    font-size: 20px;
  }

.topnav a:hover {
    color: rgb(255, 255, 255);
}

.aboutme {
    background-color: rgba(0,0,0,0.8);
    width: max-content;
    height: max-content;
    text-align: left;
    font-size: 20px;
    margin: 0 auto;
}

i.fab, i.fas {
    font-size: 36pt;
    color: rgb(255, 255, 255);
    padding: 1%;
}