body {
    text-align: center;
    font-family: monospace, sans-serif;
    color: rgb(220, 220, 220);
    background-size: auto;
    background-color: rgb(25, 25, 25);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1 {
  text-align: center;
}

i.fab, i.fas {
    font-size: 36pt;
    color: rgb(255, 255, 255);
    padding: 1%;
}

.topnav {
    /* background-color: rgb(121, 121, 121); */
    background-color: transparent;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: darkgray;
    text-align: center;
    padding: 12px 12px;
    text-decoration: none;
    font-size: 20px;
    /* border-right: 2px solid lightgrey; */
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    /* background-color: rgb(16, 124, 101); */
    color: rgb(255, 255, 255);
    /* border-bottom: 4px groove darkcyan; */
  }

  .footer {
      position: fixed;
  }

  .projectHead {
      color: white;
      background-color: rgb(16, 124, 101);
      padding: 1%;
  }

  .aboutMe {
      color: darkgrey;
      padding: 5%;
  }

  .profilePic {
      width: 200px;
      padding-top: 40px;
      margin-left: auto;
      margin-right: auto;
  }

  .cards {
    list-style-type: none;
    padding: 48px;
    width: 100%;
    height: 100%;
  }

  .aboutMeCards {
    width: 200px;
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
    transition: 0.3s;
    padding: 20px;
    /* background-color:  rgb(20, 219, 176); */
    border-bottom: 4px groove darkcyan;
    border-left: 4px medium gray;
  }

  .aboutMeCards:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .interstellar {
    width: 200px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 20px;
    background-color:  rgba(16, 124, 101, 0.500);
  }

  .interstellar:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .websites {
    width: 200px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 20px;
    background-color:  rgba(16, 111, 124, 0.5);
  }

  .websites:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  ul {
    list-style-type: square;
  }

  .letter {
    background-color: rgb(200, 200, 200);;
    text-align: left;
    padding: 60px;
    color: darkslategray;
    line-height: 1.6;
  }

  .tableofcontents {
    text-align: left;
    font-size: larger;
    background-color: lightgray;
    padding: 40px;
    line-height: 2;
    color: darkslategray;
    padding-left: 36%;
  }

  .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }

  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: rgb(250, 250, 250);
    top: 0;
    bottom: 0;
    left: 0%;
    margin-left: -3px;
  }

  .container {
    padding: 10px 40px;
    position: relative;

    background-color: inherit;
    width: 100%;
    left: 0%;
  }

  .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: rgb(255, 255, 255);
    border: 4px solid darkcyan;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
    left: -16px;
  }

  /* The actual content */
  .content {
    padding: 20px 30px;
    background-color: rgb(130, 130, 130);
    position: relative;
    border-radius: 12px;
  }

  .contentPar {
    text-align: left;
    width: 60%;
    padding-left: 20%;
  }

  .timelineTitle {
    border-color: transparent;
    width: fit-content;
  }