img {
    width: 200px;
}

body {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    background: grey;
}

ul {
    list-style-type: georgian;
    margin: 0;
    padding: 0;
}